<form method="post" action="#" class="poll-form">
    <p>מהו הז'אנר האהוב עליכם?</p>
    <input type="radio" name="genre" id="drama" value="drama">
    <label for="drama">דרמה</label><br>
    
    <input type="radio" name="genre" id="comedy" value="comedy">
    <label for="comedy">קומדיה</label><br>
    
    <input type="radio" name="genre" id="scifi" value="scifi">
    <label for="scifi">מדע בדיוני</label><br>
    
    <input type="radio" name="genre" id="reality" value="reality">
    <label for="reality">ריאליטי</label><br>
    
    <input type="submit" value="הצביעו">
</form>